:root{
    --nav-height:60px;
    --model-select-width:400px;
    --models-select-height:500px;
}
.main-nav{
    display:flex;
    width: auto;
    height:var(--nav-height);
    text-align: center;
    justify-content: space-around;
    background-color: white;
    position: relative;
}
.models-select{
    min-height: var(--models-select-height);
}
.models-718-option{
    position: absolute;
    background-size: cover;
    background-position: center;
    width: calc(100vw - var(--model-select-width));
    background-color: white;
    left: var(--model-select-width);
    top: 0;
    border-left: 1px solid rgb(199, 199, 199);
    text-align: left;
    
    height: var(--models-select-height);
   
}
.models-718-option-menu{
    background-color: rgba(255, 255, 255,0.9);
    width: 300px;
    height: var(--models-select-height);
    padding-left: 20px;
}
.models-718-item{
    height: 50px;
}
.models-718-link{
    color: #3b3b3b;
    text-decoration: none;
    font-size:1rem;
}
.models-718-cayman-datatech{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    bottom: var(--nav-height);
    left: 0;
    height: var(--models-select-height);
    left: 300px;
}
.models:hover .models-select{
    display: block;
}
.menu-item.models{
    line-height: 60px;
    
    
}
.models-select{
    left: 0;
    position: absolute;
    width: var(--model-select-width);
    background-color: white;
    border: 1px solid #cccccc;
    display: none;
}
.models-img{
    width: 110px;
    height: 60px;
}
.models-718{
    display: block;
}
.model-link{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    text-decoration: none;
    color: #3b3b3b;
}
.model-link::after{
    position: absolute;
    content: "";
    border-top: 1px solid rgba(59, 59, 59, 0.4);
    width: 60%;
    padding-left: 50px;
}
.model-718-option{
    position: absolute;
    background-color: chocolate;
    left: var(--model-select-width);
    top: var(--nav-height);
    
    /* display: none; */
}
.model-718-tech{
    position: relative;
    top: 50%;
}

.tools-nav{
    position: absolute;
    border-top:1px solid rgba(0, 0, 0,0.1);
    left: 0;
    top: 0;
    display: none;
}
.tools:hover .tools-nav{
    display: block;
}
.tools-nav-img{
    position: absolute;
    background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-shoppingtools/normal/9c7f645a-d91f-11e8-bec8-0019999cd470;sZ;tjpeg060/porsche-normal.jpg);
    top: var(--nav-height);
    width: 100vw;
    height: var(--models-select-height);
    background-repeat: no-repeat;
    
    
    left: var(--model-select-width);
}
.tools-nav-menu{
    position: absolute;
    top: var(--nav-height);
    background-color: white;
    width: var(--model-select-width);
    height: var(--models-select-height);
}
.tools-nav-menu-list{
    list-style: none;
    padding-left: 20;
    margin: 0;
    text-align: left;
    
}
.tools-nav-menu-item{
    padding: 8px 0;
}
.tools-nav-menu-link{
    text-decoration: none;
    color: #3b3b3b;
}