.header{
   position: relative;
}

.logo{
   z-index: 1;
   text-align: center;
   margin-top: 25px;
   position: relative;
   display: flex;
   justify-content: center;
}
.logo::after{
   content: "";
   border-bottom: 1px solid #e3e4e4;
   position: absolute;
   bottom: 20%;
   right: 0;
   width: 44%;
   height: 1px;
}
.logo::before{
   content: "";
   border-bottom: 1px solid #e3e4e4;
   position: absolute;
   bottom: 20%;
   left: 0;
   width: 44%;
   height: 1px;
}
.logo-link{
   display: block;
  
}

.logo-img{
   position: relative;
   font-size: 0;
   width: 100px;
   height: 50px;  
}
/* NAVIGATION BAR */
.main-nav{
   display:flex;
   width: 100%;
   height:var(--nav-height);
   align-items: center;
   background-color: white;
   position: relative;
   z-index: 10;
   padding-left: 200px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav-item {
   font-size: large;
   padding-left: 30px;
}
.main-nav-item-heading{
   font-size: 1.8rem;
   font-weight: 650;
   padding-bottom: 12px;
   color: var(--text-color);
}
.main-nav-item-heading:hover{
   text-decoration: underline;
   color: var(--main-color);
}
.main-nav-item::before{
   position: absolute;
   content: "";
   display: block;
   width: 150px;
   height: 30px;
   top: 35px;
}
.models-select{
   position: absolute;
   height: var(--models-select-height);
   width: var(--model-select-width);
   left: 0;
   top: var(--nav-height);
   background-color: white;
   /* display: none;  */
   opacity: 1;
  -webkit-animation: flash 0.3s;
  animation: flash 0.3s;
}
.models-item{
   padding-top: 20px;
}
.models-heading{
   font-size: 1.6rem;
   color: var(--text-color);
}
.models-img{
   width: 110px;
   height: 60px;
}
.model-link{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   text-decoration: none;
   color: #3b3b3b;
}
.model-link::after{
   position: absolute;
   content: "";
   border-bottom: 2px solid var(--main-color);
   left: 40px;
   right: 100%;
   bottom: -20px;
   animation: fade 0.3s ease;
   display: none;
}

.models-item:hover .model-link::after{
   right: 0%;
   display: block;
}
/*/////////// MODEL 718////////////// */
.model-718-nav{
   position: absolute;
   width: 300px;
   background-color: #ffffff;
   left: var(--model-select-width);
   top: 0;
   border-left: 1px solid rgb(199, 199, 199);
   text-align: left;
   height: var(--models-select-height);
}

.model-718-nav-menu{
   background-color: rgba(255, 255, 255,0.9);
   background-size: cover;
   background-position: center;
   width: 300px;
   height: var(--models-select-height);
   padding-left: 20px;
   position: relative;
}
.models-718-cayman-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-718-cayman/normal/2ece0ba9-673f-11e9-80c4-005056bbdc38/porsche-normal.jpg);
   background-size: cover;
   background-position: center;
   left: 300px;
   top: 0;
   margin-left: -20px;
   width: calc(100vw - 700px);
   height: var(--models-select-height);
}
.models-718-cayman-tech-wrap{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   padding-left: 20px;
}
.models-718-cayman-tech{
   margin-top: 30px;
}
.models-718-value,.models-718-key{
   color: white;

}
.models-718-value{
   font-size: 2rem;
   font-weight:700;
}
.models-718-cayman-link{
   margin-top: 40px;
}
.white-btn.explore-btn{
   background-color: #D5001C;
}

.models-718-disclaimer{
   color: white;
   position: absolute;
   bottom: 0;
   margin-bottom: 20px;
}
.models-718-boxster-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-718-boxster/normal/7835f356-674b-11e9-80c4-005056bbdc38;sN;twebp065/porsche-normal.webp);
   background-size: cover;
   background-position: center;
   left: 300px;
   top: 0;
   margin-left: -20px;
   width: calc(100vw - 700px);
   height: var(--models-select-height);
   display: none;
}

.models-option.boxster:hover .models-718-boxster-img{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}


/*//////// MODEL 911/////////// */
.models-911-nav{
   position: absolute;
   width: 300px;
   background-color: #ffffff;
   left: var(--model-select-width);
   top: 0;
   border-left: 1px solid rgb(199, 199, 199);
   text-align: left;
   height: var(--models-select-height);
   display: none;
}
.model-911:hover:hover .models-911-nav{
   display: block;
}

.models-911-nav-menu{
   background-color: rgba(255, 255, 255,0.9);
   background-size: cover;
   background-position: center;
   width: 300px;
   height: var(--models-select-height);
   padding-left: 20px;
   position: relative;
}

.models-911-abc-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-911carrera992-flyout-background/normal/9c294107-674e-11e9-80c4-005056bbdc38;sN;twebp065/porsche-normal.webp);
   background-size: cover;
   background-position: center;
   left: 300px;
   top: 0;
   margin-left: -20px;
   width: calc(100vw - 700px);
   height: var(--models-select-height);
   
}
.models-718-cayman-tech-wrap{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   padding-left: 20px;
}
.models-718-cayman-tech{
   margin-top: 30px;
}
.models-718-value,.models-718-key{
   color: white;

}
.models-718-value{
   font-size: 2rem;
   font-weight:700;
}
.models-718-cayman-link{
   margin-top: 40px;
}
.models-718-disclaimer{
   color: white;
   position: absolute;
   bottom: 0;
   margin-bottom: 20px;
}
.models-718-boxster-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-718-boxster/normal/7835f356-674b-11e9-80c4-005056bbdc38;sN;twebp065/porsche-normal.webp);
   background-size: cover;
   background-position: center;
   left: 300px;
   top: 0;
   margin-left: -20px;
   width: calc(100vw - 700px);
   height: var(--models-select-height);
   display: none;
}

/* /////////////TOOLS///////// */
.tools-nav{
   display: none; 
}
.tools:hover .tools-nav{
   display: block;
}
.tools-nav-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-shoppingtools/normal/9c7f645a-d91f-11e8-bec8-0019999cd470;sZ;tjpeg060/porsche-normal.jpg);
   background-size: cover;
   background-position: center ;
   background-repeat: no-repeat;
   top: var(--nav-height);
   height: var(--models-select-height);
   width: calc(100vw - var(--model-select-width));
   left: var(--model-select-width);
   border-left: 1px solid black;
   
}
.tools-nav-menu{
   position: absolute;
   top: var(--nav-height);
   left: 0;
   background-color: white;
   width: var(--model-select-width);
   height: var(--models-select-height);
}
.tools-nav-menu-list{
   list-style: none;
   padding-left: 20;
   margin: 0;
   text-align: left;
   
}
.tools-nav-menu-item{
   padding: 8px 0;
}
.tools-nav-menu-link{
   text-decoration: none;
   color: #3b3b3b;
}

/* /////////////////////////
////////////BODY/////////// */
.model{
   margin-top: 110px;
}
.model_heading h2{
    font-size: 4rem;
    font-weight: 550;
    
}
.item-wrap{
   position: relative;
   background-color: sienna;
}
.item-wrap-img{
   height: 340px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.item-wrap-price{
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}
.item-name{
    font-size: 3.8rem;
    margin: 20px 0;
    font-weight: 500;
}
.item-wrap-info{
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 40px;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.item-wrap-more-icon{
   font-size: 1.8rem;
   margin-right: 4px;
   
}

/* change color background */
/* div {
  transition: background-color 0.5s ease;
  background-color: #D5001C;
}
div:hover {
  background-color: green;
} */

/* MAP/////////////////// */
/* /////////////////// */
.map{
   margin-top: 30px;
   position: relative;
}
.map-heading h2{
   
   font-size: 4rem;
   font-weight: 550;
    
}
.map-search{
   position: absolute;
   height: 42px;
   display: flex;
   top: 10%;
   left: 4px
}

.map-search-input{
   min-width: 250px;
   height: 100%;
   font-size: 1.4rem;
   padding-left: 8px;
   border: none;
}
.map-search-btn{
   height: 100%;
   width: 100px;
   background-color: #191f22;
   font-size: 1.6rem;
   color: white;
   text-align: center;
   line-height: 42px;
   margin-left:10px ;
   transition: background-color 0.2s ease;
}
.map-search-btn:hover{
  background-color: #D5001C;
}
.tools-shopping{
   
}
.tools__heading h2{
   font-size: 4rem;
   font-weight: 550;
   margin-bottom: 35px;
   
}
.shopping{
   position: relative;
}
.tool__compare,.build,.offer,.finacial{
   display: block;
   height: 260px;
   background-size: cover;
   background-position: center;
   
}
.tool__compare-heading,.build-heading,.offer-heading,.finacial-heading{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 2rem;
   font-weight: 500;
   top: 80%;
   left: 10%;
   transition: color 0.3s ease;
}
.tool__compare-icon,.finacial-icon{
   margin-right: 4px;
   font-size: 2rem;
   color: #D5001C;
}

.tool__compare-heading:hover,.build-heading:hover,.offer-heading:hover,.finacial-heading:hover{
   color: #D5001C;
}

.discover__heading h2{
   font-size: 4rem;
   font-weight: 550;
}
.aaa{
   position: relative;
}
.perfomance,.tech,.exclusive,.online-shop{
   display: block;
   height: 220px;
   background-size: cover;
   background-position-x: center; 
   background-repeat: no-repeat;   
}
.perfomance:hover,.tech:hover,.exclusive:hover,.online-shop:hover{
   border-bottom: 2px solid #D5001C;
   
  
}
.perfomance-heading,.tech-heading,.exclusive-heading,.online-shop-heading{
   position: absolute;
   text-decoration: none;
   color: var(--text-color);
   font-size: 1.5rem; 
   top: 100%;
   padding-top: 4px; 
}
.perfomance-icon,.exclusive-icon{
   margin-right: 4px; 
   font-size: 1.5rem;
   color: #D5001C;
}
.perfomance-heading:hover{
   color: #D5001C;
}
.footer{
   display: block;
   padding: 10px 0 40px 0;
   margin-top: 50px;
   background-color: #191f22;
}
.mapsite{
   position: relative;
}
.mapsite::after{
   position: absolute;
   content: "";
   border-bottom: 2px solid #494e51;
   width: 100%;
   margin-left: 12px;
   top: 170%;
}
.mapsite-heading p{
   font-size:2.3rem;
   font-weight: 600;
   color: white;
}
.mapsite-select-region,.mapsite-select-country{
   width: 100%;
   height: 50px;
   background-color: #313639;
   padding: 0 20px;
   line-height: 50px;
   font-size: 1.5rem;
   font-weight: 500;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.mapsite-select-region{
   position: relative;
}
.mapsite-select-region-select{
   position: absolute;
   width: 100%;
   height: 50px;
   top: 0;
   left: 0;
   background-color: #313639;
   color: white;
   border: none;
   padding:0 14px;
   font-size: 1.5rem;
   font-weight: 500;
}

.mapsite-select-region-item{
   background-color: white;
   color: #313639;
   font-size: 1.5rem;
   
}
.coppyright{
   margin-top: 30px;
}
.coppyright-icon{
   padding-right: 10px;
}
.coppyrigt-heading{
   margin-top: 60px;
   color: white;
   font-size: 1.5rem;
}
.contact,.recall,.privacy{
   height: 50px;
   min-width: 130px;
   background-color: #313639;
   color: white;
   margin:0 24px 0 12px;
   text-align: center;
   line-height: 50px;
   font-size: 1.5rem;
   font-weight: 500;
   padding:0 20px;
   transition: background-color 0.2s ease;
}
.contact:hover,.recall:hover,.privacy:hover{
   background-color:#D5001C ;
}
