.app {
   overflow: hidden;
}
.header{
   position: relative;
}

.logo{
   z-index: 1;
   text-align: center;
   margin-top: 25px;
   position: relative;
   display: flex;
   justify-content: center;
}
.logo::after{
   content: "";
   border-bottom: 1px solid #e3e4e4;
   position: absolute;
   bottom: 20%;
   right: 0;
   width: 44%;
   height: 1px;
}
.logo::before{
   content: "";
   border-bottom: 1px solid #e3e4e4;
   position: absolute;
   bottom: 20%;
   left: 0;
   width: 44%;
   height: 1px;
}
.logo-link{
   display: block;
  
}

.logo-img{
   position: relative;
   font-size: 0;
   width: 100px;
   height: 50px;  
}
/* NAVIGATION BAR */
.main-nav{
   display:flex;
   width: 100%;
   height:var(--nav-height);
   align-items: center;
   background-color: white;
   position: relative;
   z-index: 10;
   padding-left: 200px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main-nav-item {
   padding-left: 30px;
}

.main-nav-item-heading{
   position: relative;
   font-size: 1.8rem;
   font-weight: 650;
   padding-bottom: 12px;
   color: var(--text-color);
   padding: 0;
}

.main-nav-item-heading:hover{
   border-bottom: 2px solid var(--main-color);
   color: var(--main-color);
}
.main-nav-item::before{
   position: absolute;
   content: "";
   display: block;
   width: 150px;
   height: 30px;
   top: 35px;
}
.models-select{
   position: absolute;
   height: var(--models-select-height);
   width: var(--model-select-width);
   left: 0;
   padding-left: 50px;
   top: var(--nav-height);
   background-color: white;
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
  animation: flash 0.3s;
}

.main-nav-item.models:hover .models-select{
   display: block;
}
.models-item{
   padding-top: 20px;
}
.models-heading{
   font-size: 1.6rem;
   color: var(--text-color);
}
.models-nav-img{
   width: 110px;
   height: 60px;
}
.model-link{
   display: flex;
   position: relative;
   align-items: center;
   justify-content: space-between;
   padding: 0 40px;
   text-decoration: none;
   color: #3b3b3b;
}
.model-link::after{
   position: absolute;
   content: "";
   border-bottom: 2px solid var(--main-color);
   left: 40px;
   right: 100%;
   bottom: -20px;
   animation: fade 0.3s ease;
   display: none;
}

.models-item:hover .model-link::after{
   right: 0%;
   display: block;
}
/*/////////// MODEL 718////////////// */
.models-item-nav{
   position: absolute;
   width: var(--models-nav-width);
   background-color: #ffffff;
   left: var(--model-select-width);
   top: 0;
   border-left: 1px solid rgb(199, 199, 199);
   text-align: left;
   height: var(--models-select-height);
}

.models-item-nav-menu{
   background-color: rgba(255, 255, 255,0.9);
   background-size: cover;
   background-position: center;
   height: var(--models-select-height);
   padding: 0 20px;
   position: relative;
}
.models-background-img.cayman{
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-718-cayman/normal/2ece0ba9-673f-11e9-80c4-005056bbdc38/porsche-normal.jpg);
}
.models-tech-wrap{
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   padding-left: 20px;
}
.models-tech{
   margin-top: 30px;
}
.models-value,.models-key{
   color: white;

}
.models-value{
   font-size: 2rem;
   font-weight:700;
}

.white-btn.explore-btn{
   background-color: #D5001C;
   color: white;
   text-decoration: none;
}

.models-disclaimer{
   color: white;
   font-size: 1rem;
   position: absolute;
   bottom: 0;
   margin-bottom: 6px;
}
.models-background-img.boxster{
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-718-boxster/normal/7835f356-674b-11e9-80c4-005056bbdc38;sN;twebp065/porsche-normal.webp);
   display: none;
}
.models-option.boxster:hover .models-background-img.boxster{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.tmode{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-flyout-718-t/normal/b932817e-674b-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.tmode:hover .models-background-img.tmode{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.gts{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/none/modelseries-718-gts-4-flyout-background/normal/04b3ffae-ab04-11ea-80ca-005056bbdc38;sZ;twebp065/porsche-normal.webp);
}
.models-option.gts:hover .models-background-img.gts{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.gt4{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-718gt4-flyout-background/normal/76d1d974-b76d-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.gt4:hover .models-background-img.gt4{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.spyder{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-718spyder-flyout-background/normal/088c3575-86ca-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.spyder:hover .models-background-img.spyder{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
/*//////// MODEL 911/////////// */
.models-item-nav.model-911{
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.models-item.model-911:hover .models-item-nav.model-911{
   display:block;
}
.models-background-img.targa911{
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-911carrera992-flyout-background/normal/9c294107-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-background-img.turbo{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-911-turbo-flyout-background/normal/77e49341-443d-11ea-80c8-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.turbo:hover .models-background-img.turbo{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
/* //////////////TAYCAN////////// */
.models-item-nav.model-taycan{
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.models-item.model-taycan:hover .models-item-nav.model-taycan{
   display:block;
}
.models-background-img.taycanmodel{
   background-image: url(https://files.porsche.com/filestore/image/usa/none/model-series-j1-taycan-flyout-background/normal/efb9c4b5-b9b4-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-background-img.emode{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/e-performance-flyout-taycan/preview/7a0256b0-e35f-11e9-80c6-005056bbdc38;sO;twebp065/porsche-preview.webp);
}
.models-option.emode:hover .models-background-img.emode{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
/* //////////PANAMERA MODEL////// */
.models-item-nav.panamera{
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.models-item.model-panamera:hover .models-item-nav.panamera{
   display:block;
}
.models-background-img.panamera{
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-panamera/normal/53e1e5b3-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-background-img.panamera-gts{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-flyout-panamera-gts/normal/7bf01bb6-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.panamera-gts:hover .models-background-img.panamera-gts{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.panamera-turbo{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-panameraturbo/normal/8bd8396c-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.panamera-turbo:hover .models-background-img.panamera-turbo{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.panamera-hybird{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/jdp-2016-modelseries-flyout-panamerae-hybrid/normal/65ca9bfc-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-option.panamera-hybird:hover .models-background-img.panamera-hybird{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
.models-background-img.panamera-perfomance{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/e-performance-flyout-panamera/preview/70b47e1a-e35f-11e9-80c6-005056bbdc38;sO;twebp065/porsche-preview.webp);
}
.models-option.panamera-perfomance:hover .models-background-img.panamera-perfomance{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
/* ////////MODEL MACCAN//////// */
.models-item-nav.model-maccan{
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.models-item.model-maccan:hover .models-item-nav.model-maccan{
   display:block;
}
.models-background-img.model-maccan{
   background-image: url(https://files.porsche.com/filestore/image/usa/en-us/modelseries-macan-pa-flyout-background/normal/1eb6d103-674e-11e9-80c4-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
/* //////////MODEL CAYENNE////// */
.models-item-nav.model-cayenne{
   display: none;
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.models-item.model-cayenne:hover .models-item-nav.model-cayenne{
   display:block;
}
.models-background-img.model-cayenne{
   background-image: url(https://files.porsche.com/filestore/image/usa/none/9ya-e3-v6-flyout-background/normal/349977cc-aa64-11ea-80ca-005056bbdc38;sO;twebp065/porsche-normal.webp);
}
.models-background-img.cayenne-performance{
   display:none;
   background-image: url(https://files.porsche.com/filestore/image/usa/none/e-performance-flyout-cayenne/preview/af534190-f6eb-11e9-80c6-005056bbdc38;sO;twebp065/porsche-preview.webp);
}
.models-option.cayenne-performance:hover .models-background-img.cayenne-performance{
   opacity: 1;
  -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
   display: block;
}
/* /////////////TOOLS///////// */
.tools-nav{
   display: none; 
   -webkit-animation: flash 0.3s;
   animation: flash 0.3s;
}
.tools:hover .tools-nav{
   display: block;
}
.tools-nav-img{
   position: absolute;
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-shoppingtools/normal/9c7f645a-d91f-11e8-bec8-0019999cd470;sZ;tjpeg060/porsche-normal.jpg);
   background-size: cover;
   background-position: center ;
   background-repeat: no-repeat;
   top: var(--nav-height);
   height: var(--models-select-height);
   width: calc(100vw - var(--model-select-width));
   left: var(--model-select-width);
   border-left: 1px solid black;
}
.tools-nav-menu{
   position: absolute;
   top: var(--nav-height);
   padding-left: 50px;
   left: 0;
   background-color: white;
   width: var(--model-select-width);
   height: var(--models-select-height);
}
.models-item.tools-menu{
   padding: 18px 0;
   margin: 0;
   text-align: left;
}

.model-link.tools-menu{
   text-decoration: none;
   color: #3b3b3b;
   font-size: 1.5rem;
}
/* /////////SHOP & SERVICE////// */
.model-link.shop-world::after{
   bottom: -5px;
}
.models-select.services{
   display: none ;
}
.main-nav-item.services:hover .models-select.services{
   display: block ;
}
.models-background-img.shop{
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-shop/normal/7d820ac1-8eb5-11ea-80c9-005056bbdc38;sN;twebp065/porsche-normal.webp);
}
.models-item-nav.services{
   display: none;
}
.models-item.services:hover .models-item-nav.services{
   display: block;
}
.models-background-img.services{
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-service/normal/2deea12e-d935-11e8-bec8-0019999cd470;sD;twebp065/porsche-normal.webp);
}
/* ////////PORSCHE WORLD///// */
.models-select.world{
   display: none;
}
.main-nav-item.world:hover .models-select.world{
   display: block;
}
.models-background-img.motosport{
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-motorsport/normal/5fb74cc2-d935-11e8-bec8-0019999cd470;sD;twebp065/porsche-normal.webp);
}
.models-background-img.fascination{
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-fascination/normal/bbf4e242-d935-11e8-bec8-0019999cd470;sD;twebp065/porsche-normal.webp);
}
.models-item-nav.fascination{
   display: none;
}
.models-item.fascination:hover .models-item-nav.fascination{
   display: block;
}
.models-background-img.company{
   background-image: url(https://files.porsche.com/filestore/image/multimedia/none/jdp2018-mainnavi-company/normal/e6356dc2-d935-11e8-bec8-0019999cd470;sD;twebp065/porsche-normal.webp);
}
.models-item-nav.company{
   display: none;
}
.models-item.company:hover .models-item-nav.company{
   display: block;
}
/* /////////////////////////
////////////BODY/////////// */
.model{
   margin-top: 110px;
}
.model_heading h2{
    font-size: 4rem;
    font-weight: 550;
    
}
.item-wrap{
   position: relative;
   background-color: sienna;
}
.item-wrap-img{
   height: 340px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.item-wrap-price{
    padding-left: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
}
.item-name{
    font-size: 3.8rem;
    margin: 20px 0;
    font-weight: 500;
}
.item-wrap-info{
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 40px;
    color: white;
    font-size: 1.7rem;
    text-align: center;
    line-height: 50px;
    height: 50px;
    margin-bottom: 30px;
}
.item-wrap-more-icon{
   font-size: 1.8rem;
   margin-right: 4px;
   
}

/* change color background */
/* div {
  transition: background-color 0.5s ease;
  background-color: #D5001C;
}
div:hover {
  background-color: green;
} */

/* MAP/////////////////// */
/* /////////////////// */
.map{
   margin-top: 30px;
   position: relative;
}

.map-heading h2{
   
   font-size: 4rem;
   font-weight: 550;
    
}
.map-search{
   position: absolute;
   height: 42px;
   display: flex;
   top: 10%;
   left: 4px
}

.map-search-input{
   width: 250px;
   height: 100%;
   font-size: 1.4rem;
   padding-left: 8px;
   border: none;
}
.map-search-btn{
   height: 100%;
   width: 100px;
   background-color: #191f22;
   font-size: 1.6rem;
   color: white;
   text-align: center;
   line-height: 42px;
   margin-left:10px ;
   transition: background-color 0.2s ease;
}
.map-search-btn:hover{
  background-color: #D5001C;
}

.tools__heading h2{
   font-size: 4rem;
   font-weight: 550;
   margin-bottom: 35px;
   
}
.shopping{
   position: relative;
}
.tool__compare,.build,.offer,.finacial{
   display: block;
   height: 260px;
   background-size: cover;
   background-position: center;
   
}
.tool__compare-heading,.build-heading,.offer-heading,.finacial-heading{
   position: absolute;
   text-decoration: none;
   color: white;
   font-size: 2rem;
   font-weight: 500;
   top: 80%;
   left: 10%;
   transition: color 0.3s ease;
}
.tool__compare-icon,.finacial-icon{
   margin-right: 4px;
   font-size: 2rem;
   color: #D5001C;
}

.tool__compare-heading:hover,.build-heading:hover,.offer-heading:hover,.finacial-heading:hover{
   color: #D5001C;
}

.discover__heading h2{
   font-size: 4rem;
   font-weight: 550;
}
.aaa{
   position: relative;
}
.perfomance,.tech,.exclusive,.online-shop{
   display: block;
   height: 220px;
   background-size: cover;
   background-position-x: center; 
   background-repeat: no-repeat;   
}
.perfomance:hover,.tech:hover,.exclusive:hover,.online-shop:hover{
   border-bottom: 2px solid #D5001C;
   
  
}
.perfomance-heading,.tech-heading,.exclusive-heading,.online-shop-heading{
   position: absolute;
   text-decoration: none;
   color: var(--text-color);
   font-size: 1.5rem; 
   top: 100%;
   padding-top: 4px; 
}
.perfomance-icon,.exclusive-icon{
   margin-right: 4px; 
   font-size: 1.5rem;
   color: #D5001C;
}
.perfomance-heading:hover{
   color: #D5001C;
}
.footer{
   display: block;
   padding: 10px 0 40px 0;
   margin-top: 50px;
   background-color: #191f22;
}
.mapsite{
   position: relative;
}
.mapsite::after{
   position: absolute;
   content: "";
   border-bottom: 2px solid #494e51;
   width: 100%;
   margin-left: 12px;
   top: 170%;
}
.mapsite-heading p{
   font-size:2.3rem;
   font-weight: 600;
   color: white;
}
.mapsite-select-region,.mapsite-select-country{
   width: 100%;
   height: 50px;
   background-color: #313639;
   padding: 0 20px;
   line-height: 50px;
   font-size: 1.5rem;
   font-weight: 500;
   color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.mapsite-select-region{
   position: relative;
}
.mapsite-select-region-select{
   position: absolute;
   width: 100%;
   height: 50px;
   top: 0;
   left: 0;
   background-color: #313639;
   color: white;
   border: none;
   padding:0 14px;
   font-size: 1.5rem;
   font-weight: 500;
}

.mapsite-select-region-item{
   background-color: white;
   color: #313639;
   font-size: 1.5rem;
   
}
.coppyright{
   margin-top: 30px;
}
.coppyright-icon{
   padding-right: 10px;
}
.coppyrigt-heading{
   margin-top: 60px;
   color: white;
   font-size: 1.5rem;
}
.coppyright-content{
   height: 50px;
   min-width: 50px;
   background-color: #313639;
   color: white;
   /* margin:0 24px 0 12px; */
   text-align: center;
   line-height: 50px;
   font-size: 1.5rem;
   font-weight: 500;
   transition: background-color 0.2s ease;
}
.contact:hover,.recall:hover,.privacy:hover{
   background-color:#D5001C ;
}
